
<div class="d-flex align-items-center justify-content-center">
<img src="https://cdn.dribbble.com/users/443286/screenshots/2858537/pokev6.gif" class="gif-image" alt="">
</div>



<div class="d-flex flex-row flex-wrap list-unstyled justify-content-center mx-5">
    <ng-container *ngIf="(pokemons$ | async) as pokemons else loading">
        <app-pokemon-list-item *ngFor="let pokemon of pokemons; let i = index" [pokemon]="pokemon" [no]="i+1" >
        </app-pokemon-list-item>
    </ng-container>

    <ng-template #loading>
        <p  class="mx-auto display-4">Loading...</p>
    </ng-template>
</div>
